<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FraudDetect</title>
  <link rel="shortcut icon" type="image/png" href="../../static/assetss/images/logos/logoo.jpg" />
  <link rel="stylesheet" href="../../static/assetss/css/styl.css" />
  <link rel="stylesheet" href="../../static/assetss/css/styles.min.css" />
 
  <script src="https://kit.fontawesome.com/7396c9fb7f.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="../static/assetss/images/logos/logoo.jpg" width="120" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Accueil</span>
              </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('preprocess') }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Preprocessing</span>
                </a>
              </li>
  
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('normalisation') }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-article"></i>
                  </span>
                  <span class="hide-menu">Normalisation</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('elbow_method') }}" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-chart-line"></i>
                  </span>
                  <span class="hide-menu">Courbe d'Elbow</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('silhouette_method') }}" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-chart-line"></i>
                  </span>
                  <span class="hide-menu">Silhouette</span>
                </a>
              </li>
             
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('k_means') }}" aria-expanded="false">
                  <span>
                    <i class="fa-sharp fa-regular fa-chart-scatter"></i>
                  </span>
                  <span class="hide-menu">K-means</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('dbscan') }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-cards"></i>
                  </span>
                  <span class="hide-menu">DBSCAN</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="{{ url_for('download_anomalies') }}" aria-expanded="false">
                  <span>
                    <i class="ti ti-cards"></i>
                  </span>
                  <span class="hide-menu">Télécharger le Fichier</span>
                </a>
              </li>
          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../static/assetss/images/profile/user-1.jpg" alt="" width="35" height="35"
                    class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        
                  
        <h1>Méthode du coude</h1>





        <div class="row " >
          <div class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  
                    
                    
                  <div id="plot">{{ plot|safe }}</div>






                </div>

              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-lg-8 d-flex align-items-strech">
            <div class="card w-100">
              <div class="card-body">
                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                  <a href="/silhouette_method" class="btn btn-primary" >Courbe Silhouette</a>





                </div>

              </div>
            </div>

          </div>

        </div>
       

      </div>

    </div>
  </div>
  </div>

  </div>

  </div>
  </div>
  </div>


  <script src="../static/assetss/libs/jquery/dist/jquery.min.js"></script>
  <script src="../static/assetss/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assetss/js/sidebarmenu.js"></script>
  <script src="../static/assetss/js/app.min.js"></script>
  <script src="../static/assetss/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../static/assetss/libs/simplebar/dist/simplebar.js"></script>
  <script src="../static/assetss/js/dashboard.js"></script>
  
  
</script>
</body>

</html>