
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="../static/assetss/images/logos/logoo.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title> Fraud Detection - Une Solution Avancée de Sécurité</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/templatemo-chain-app-dev.css">
    <link rel="stylesheet" href="../static/assets/css/animated.css">
    <link rel="stylesheet" href="../static/assets/css/owl.css">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="../templates/index.html" class="logo">
              <img src="../static/assets/images/logoo.jpg" class="img-logo" alt="FraudDetect">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
              <li class="scroll-to-section"><a href="#about">A propos</a></li>
  
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>FraudDetect </h2>
                    <p>Bienvenue sur  FraudDetect, une application révolutionnaire qui utilise des algorithmes de machine learning avancés pour détecter les fraudes .</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="white-button first-button scroll-to-section">
                      <a href="/inscription">Connexion</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../static/assets/images/slider-dec.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h4>À propos de <em>Ce que nous faisons</em> & Qui nous sommes</h4>
            <img src="../static/assets/images/heading-line-dec.png" alt="">
            <p>Découvrez notre engagement envers l'excellence et l'innovation. Nous sommes fiers de présenter une gamme complète de fonctionnalités qui redéfinissent l'expérience utilisateur. Explorez comment notre plateforme révolutionnaire combine la puissance des algorithmes de machine learning pour offrir des solutions efficaces dans le domaine de la détection de fraudes, vous permettant ainsi de naviguer en toute confiance dans un environnement sécurisé.</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Détection en Temps Réel </a></h4>
                <p> Surveiller les données en temps réel pour identifier rapidement les comportements frauduleux</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">24/7 Support &amp; Aide</a></h4>
                <p>Notre application sera H24 à votre disposition.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Faire face au fraude</a></h4>
                <p>En utilisant nos algorithmes de machine learning, detecter les fraudes et éviter des lourdes pertes</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box-item">
                <h4><a href="#">Téléchargement de Fichiers de Numéros Frauduleux</a></h4>
                <p>Offrir la fonctionnalité permettant aux utilisateurs de télécharger des fichiers au format CSV</p>
              </div>
            </div>
            <div class="col-lg-12">
              <p></p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="../static/assets/images/about-right-dec.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="newsletter">
    <div class="container">
      <div class="row">
       
        <div class="col-lg-6 offset-lg-3">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-6 col-sm-6">
               
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Contact Nous</h4>
            
            <p><a href="#">FraudDetect@gmail.com</a></p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>A propos</h4>
            <ul>
              <li><a href="#">Accueil</a></li>
              
              <li><a href="#">A propos</a></li>
              
            </ul>
           
          </div>
        </div>
      
        <div class="col-lg-3">
          <div class="footer-widget">
            <h4>Notre application</h4>
            <div class="logo">
              <img src="../static/assets/images/logoo.jpg" class="img-logo" alt="FraudDetect">
            </div>
            <p>Protection renforcée contre la fraude avec FraudDetect, votre allié pour sécuriser vos transactions.</p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2024 FraudDetect. Tout droits reservé. 
          
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/js/owl-carousel.js"></script>
  <script src="../static/assets/js/animation.js"></script>
  <script src="../static/assets/js/imagesloaded.js"></script>
  <script src="../static/assets/js/popup.js"></script>
  <script src="../static/assets/js/custom.js"></script>
  <script src="../static/Sessionjs.js"></script>
</body>
</html>